@model RegisterModel
@{
    ViewData["Title"] = "Register Member";
    Layout = "_Layout_confirmation";
    var registerModel = ViewData["RegisterModel"] as RegisterModel;
 }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        @Html.Partial("_Header")
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="SaveData" asp-controller="Register">
        <p>Card No: @registerModel.txt_CardNo </p>
        <p>Personal ID: @registerModel.txt_CardID </p>
        <p>Mobile No: @registerModel.txt_MobileNo </p>
        <p>Birth Date: @registerModel.txt_BirthDate </p>
        <input type="submit" value="Save this Data" />
        </form>
    </div>
</div>
